@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";


/* ? Main <Light> Glacier Blue Theme */
:root {
  --theme-500: #0E1836;
  --theme-400: #7BBBFE;
  --theme-300: #BBAAFF;
  --theme-200: #B6CFFF;
  --theme-100: #F2FDFF;
}

/* ? <Dark> Spacce Stars Theme */
[data-theme="dark"] {
  --theme-500: #FEFEFC;
  --theme-400: #AF8CF3;
  --theme-300: #B4FAAC;
  --theme-200: #4A4360;
  --theme-100: #3A3852;
}

body {
  background: center/cover no-repeat fixed;
  color: var(--theme-500);
  font-family: "Space Grotesk", sans-serif;
  overflow: hidden;
}

/* ? Force to Hide Scroll Bar */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* ? Underline Animation */
@keyframes underline-expand {
  0% {
    width: 0%;
    left: 50%;
    transform: translateX(-50%);
  }
  100% {
    width: 100%;
    left: 0;
    transform: translateX(0);
  }
}

.underline-animation {
  position: relative;
}

.underline-animation::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease, left 0.3s ease, transform 0.3s ease;
}

.underline-animation.active::after {
  animation: underline-expand 0.3s forwards;
}
